.toggle-wrap a {
  display: inline-block;
  background: #444;
  border-radius: 1000px;
  position: relative;
  width: 3em;
  height: 1.25em;
  vertical-align: middle;
  margin: 0 0.5em;
}
.toggle-wrap a strong {
  display: none;
}

.switch {
  position: absolute;
  top: 0.1em;
  left: 0.15em;
  height: 1em;
  width: 1.5em;
  background: #fff;
  border-radius: 1000px;
  transition: 0.3s;
}
.alt .switch {
  left: calc(100% - 1.6em);
}

.numgroups-wrap {
  display: none;
}
.alt .numgroups-wrap {
  display: inherit;
}

.alt .pergroup-wrap {
  display: none;
}

input, textarea, button {
  font-size: 1em;
  padding: 0.25em;
}

.groups {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  padding: 1em;
}
.group h2 {
  margin: 0;
}
#h1 {
  text-align: center;
}
body {
  min-height: 1000px;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
#contact {
  background-color: #e2edff;
}
section {
  padding-top: 5rem;
}
